/* ------------------------- H E A D E R -----------------------*/
body{
   margin:0px;
   
}

nav{
   background-color: rgb(30, 121, 30);
   padding:0px 20px;
   justify-content: space-between;
   align-items:center;
}

ul{
   list-style:none;
   padding:0;
   margin:0;
   
}

li{
   padding: 0 20px;
  
}

h1{
   color: white;
   padding: 0px;
}

 a{
   color: white;
   padding: 0px ;
   font-size: 18px;
   text-decoration-line: none;
   overflow:hidden;
   position: relative; 
}



nav,ul{
   display:flex;
   flex-direction:row; 
}


/*ANIMAÇÃO MENU*/ 
.itemenu::after{
    content: " "; 
    width:0%;
    height: 2px;
    background-color: white;
    position:absolute; 
    bottom: 0;
    left: 0; 
    transition: 0.5s ease-out;
}

.itemenu:hover::after{
   width:100%; 

}

/* ------------------ M A I N -------------------------*/

.listaservicos{
   display:flex;
   border: 2px solid black; 
   margin: 150px 5px 5px 5px;
   padding: 5px 5px 5px 5px;
   justify-content: space-around;
   flex-wrap:wrap;
}

img.organicos{
   position:relative;
   border-radius:6px; 
   
   padding:0px;
   width: 800px;
   height: 300px;
   /* border: 1px solid black; */
   /* box-shadow: 5px 5px 15px rgba(0,0,0,5.9)*/
}


img{
   position:relative;
   border-radius:6px; 
   width: 300px;
   height: 300px;
   /* border: 1px solid black; */
   /* box-shadow: 5px 5px 15px rgba(0,0,0,5.9)*/
}

/*ANIMAÇÕES MAIN*/















