/* ------------------------- H E A D E R -----------------------*/
body{
   margin:0px;
   
}

nav{
   background-color: rgb(30, 121, 30);
   padding:0px 20px;
   justify-content: space-between;
   align-items:center;
}

ul{
   list-style:none;
   padding:0;
   margin:0;
   
}

li{
   padding: 0 20px;
  
}

h1{
   color: white;
   padding: 0px;
}

 a.itemenu{
   color: white;
   padding: 0px ;
   font-size: 18px;
   text-decoration-line: none;
   overflow:hidden;
   position: relative; 
}



nav,ul{
   display:flex;
   flex-direction:row; 
}


/*ANIMAÇÃO MENU*/  

.itemenu::after{
    content: " "; 
    width:0%;
    height: 2px;
    background-color: white;
    position:absolute; 
    bottom: 0;
    left: 0; 
    transition: 0.5s ease-out;
}

.itemenu:hover::after{
   width:100%; 

}

/* ------------------ M A I N -------------------------*/

main{
   display:flex; 
   min-height:120vh;
}

.containerimagens{
   display:flex;
  /*border: 2px solid  black;*/

   position:absolute;
   width: 1305px;
   height: 604px;
   left: 20px;
   top: 224px;
 }
 
 .organicos{
   border: 2px solid  black;
 
   position:absolute; 
   width: 810px;
   height: 285px;
   left: 39px;
   top: 5px;
 }
 
 .aquaponia{ 
   border: 2px solid  black;
 
   position: absolute;
   width: 394px;
   height: 286px;
   left: 868px;
   top: 5px;
 }
 
 .jardinagem{
   border: 2px solid  black;
 
   position: absolute;
   width: 394px;
   height: 286px;
   left: 39px;
   top: 310px;
 }
 
 .horta{
   border: 2px solid  black;
 
   position: absolute;
   width: 394px;
   height: 286px;
   left: 455px;
   top: 310px;
 }
 
 .consultoria{
   border: 2px solid  black;
 
   position: absolute;
   width: 394px;
   height: 286px;
   left: 868px;
   top: 310px;
 }

 /*ANIMAÇÃO*/



 .organicos:hover{
   transform: scale(1.12);
   transition: 0.5s;
   z-index:1;
 }

 .aquaponia:hover,.jardinagem:hover,.horta:hover,.consultoria:hover{
   transform: scale(1.14);
   transition: 0.5s;
   z-index:1;
 }

 /*--------------------------------------- F O O T E R -------------------------------------------*/



footer{
    
   display:flex;
   color:black;
   font-size:15px;
   justify-content:center;
   display:flex; 
   background-color: grey; 
   width:100%; 
   height:60px;
   
 }